.dash {
    div {
        margin: 0 5px;
        padding: 0;
    }

 

}


.example-card {
    max-width: 400px;
  }

mat-icon.icone {
    width: 40px;
    height: 40px;
    font-size: 40px;
    float: right;  

}

.content-card {
    float: left;
}