<app-layout>

  
  <div flexLayout="row" fxLayoutAlign="space-around center" class="dash" style="margin-bottom: 5px;">
    <div fxFlex="33" >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div fxFlex="33">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <app-grafico></app-grafico>
      </mat-card>    
    </div>
    <div fxFlex="33" >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <app-grafico></app-grafico>
      </mat-card>      
    </div>
  </div>
  <div flexLayout="row" fxLayoutAlign="space-around center" class="dash" style="margin-bottom: 5px;">
    <div fxFlex="33" >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div fxFlex="33">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <app-grafico></app-grafico>
      </mat-card>    
    </div>
    <div fxFlex="33" >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <app-grafico></app-grafico>
      </mat-card>      
    </div>
  </div>

  


  <!--
  <div style="width: 800px; height: 150px;">
    <quill-editor [modules]="modules" [(ngModel)]="htmlstring" placeholder="Digite Aqui"></quill-editor>
  </div>
  -->

</app-layout>