<aside fxFlex>
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h2>Soufiane FADIL</h2>
          <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
      </div>
  
      <mat-divider></mat-divider>

      <mat-accordion class="app-nav-accordion" MatAccordionDisplayMode="flat">
        <mat-nav-list>
          <a mat-list-item>Item One</a>
          <h3 matSubheader>Section One</h3>
          <a mat-list-item>Item Two</a>
        </mat-nav-list>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Section Two</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item>Item Three</a>
            <a mat-list-item>Item Four</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Section Two</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item>Item Three</a>
            <a mat-list-item>Item Four</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-divider></mat-divider>


      <h2 matSubheader>Pages</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><span>Dashboard</span></a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
      </a>

    </mat-nav-list>

  </aside>